@page
@model CodeWithMukesh.Areas.Admin.Pages.Roles.IndexModel

@{
    ViewData["Title"] = localizer["Roles"];
    ViewData["Caption"] = localizer["Manage Roles here"];
}

<div class="card">
    <div id="roleActionsAndViewAll">
    <div id="roleActions"  class="card-body">
        <a  id="createRole" class="btn bg-success">
            <i class="fa fa-plus-square"></i> @localizer["Create"]
        </a>
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            @localizer["Reload"]
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">  
        <partial name="_ViewAll"  model="Model.RoleViewModelList"  /> 
    </div>  
    </div>
    <div id="createRoleContainer"  class="card-body" hidden></div>
    <div id="editRoleContainer" class="card-body" hidden ></div>      
</div>


@section Scripts
{    
    <script>
        $(document).ready(function () 
        {            
            let viewAll = document.getElementById("viewAll");            
            viewAll.addEventListener(
                'editRole', 
                function (e) 
                {                    
                    showRoleActionsAndViewAll(false);
                    loadRole(e.detail);                    
                },
                false);            
            
            $('#reload').on('click', function () {
                loadData();                
            });

            $('#createRole').on('click', function () {
                createRole();
            });
        });

        function loadRole(roleId)
        {
            let container = document.getElementById("editRoleContainer");
            container.hidden=false;
            $('#editRoleContainer').load(`/admin/roles/edit?handler=load&roleId=${roleId}`);                    
        }

        function showRoleActionsAndViewAll(show)
        {
            let container = document.getElementById("roleActionsAndViewAll");
            container.hidden = !show;
        }

        function loadData() {
            $('#viewAll').load('/admin/roles?handler=ViewAll');            
        }

        function createRole() {
            /*$('#viewAll').hide();
            $('#roleActions').hide();
            $('#createRoleContainer').load('/admin/roles?handler=CreateRole');            */
        }
    </script>
}