@page
@model IndexModel

@{
    ViewData["Title"] = localizer["Users"];
    ViewData["Caption"] = localizer["Manage Users here"];
}
<div class="card">
    <div id="userActions"  class="col-sm-12" style="padding:20px">
        <a  id="createUser" class="btn bg-success">
            <i class="fa fa-plus-square"></i> @localizer["Create"]
        </a>
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            @localizer["Reload"]
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">        
    </div>
    <div id="createUserContainer"  class="card-body"></div>
    
</div>
@section Scripts
{    
    <script>
        $(document).ready(function () {
            $("#userTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();                
            });
            $('#createUser').on('click', function () {
                createUser();
            });
        });
        function loadData() {
            $('#viewAll').load('/admin/users/index?handler=LoadAll');            
        }

        function createUser() {
            $('#viewAll').hide();
            $('#userActions').hide();
            $('#createUserContainer').load('/admin/users?handler=CreateUser');            
        }
    </script>
}