@model IndexModel

<div class="text-center">
    <h1 class="display-4">_AppMenu</h1>
</div>

<a id="page1" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Page1
</a>

<a id="page2" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Page2
</a>

<div id="page">

</div>
    
    <script>
        $(document).ready(function () { 
            console.log("_AppMenu..........");
            $('#page1').on('click', function () {
                loadPage("page1");
            });
            $('#page2').on('click', function () {
                loadPage("page2");
            });
        });
        function loadPage(page) {
            $('#page').load(`?handler=LoadPage&pageName=${page}`);            
        }
    </script>
